{
	compact: false,
	presets: [
		[
			"@babel/preset-env",
			{
				targets: {
					chrome: 52,
					firefox: 60
				},
				forceAllTransforms: true,
				modules: "umd",
				useBuiltIns: "usage",
				debug: false,
				spec: true
			}
		],
		["@babel/preset-stage-2", { decoratorsLegacy: true }]
	],
	env: {
		test: {
			plugins: ["rewire"]
		}
	},
	ignore: ["/node_modules/"],
	plugins: [
		[
			"@babel/plugin-transform-runtime",
			{
				helpers: false,
				polyfill: true,
				regenerator: true,
				moduleName: "@babel/runtime"
			}
		]
	]
}
