{
  presets: [["@babel/env", { modules: "umd" }]],
  plugins: [
    "syntax-dynamic-import",
    "transform-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    [
      "@babel/transform-runtime",
      {
        polyfill: false,
        regenerator: true
      }
    ]
  ]
}
