{
  compact: false,
  presets: [
    [
      "@babel/preset-env",
      {
        targets: {
          chrome: 52,
          firefox: 60
        },
        forceAllTransforms: true,
        modules: "umd",
        useBuiltIns: "usage",
        debug: false,
        spec: true
      }
    ],
    ["@babel/preset-stage-2", { decoratorsLegacy: true }],
    "@babel/preset-react"
  ],
  env: {
    test: {
      plugins: ["rewire"]
    }
  },
  ignore: ["/node_modules/"],
  plugins: [
    "@babel/plugin-transform-react-jsx-source",
    "@babel/plugin-transform-react-jsx-self",
    [
      "@babel/plugin-transform-runtime",
      {
        helpers: false,
        polyfill: true,
        regenerator: true,
        moduleName: "@babel/runtime"
      }
    ]
  ]
}
